{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Uploadable Gallery</title>
  <meta name="description" content="Uploadable Gallery">
  <meta name="author" content="McKay Bonham">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!--<script src="{% static 'js/script.js' %}"></script>
  Never mind, I'll just put my JavaScript within this template
  -->
<div id="centering">
  <div id="canvas">
  {% if picture_bank %}
    <div id="leftButtonDiv">
      <a href="" id="leftButton"><img src="/static/buttons/Left Arrow.png" id="leftButtonImg" /></a>
    </div>
    <div id="rightButtonDiv">
      <a href="" id="rightButton"><img src="/static/buttons/Right Arrow.png" id="rightButtonImg" /></a>
    </div>
    <div id="picDiv">
      <img id="mainPic" src="/static/images/{{ file_name }}" alt="{{ this_pic.url }}" />
    </div>
  {% else %}
      <p>No pictures are available.</p>
  {% endif %}
  </div>
  
  <form id="UploadPic" method="post" action="/pics/upload" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      Upload a new picture:  
      <input type="file" name="fileToUpload" id="fileToUpload" />
      <input type="submit" value="Upload Image" name="submit" />
    </p>
  </form>
</div>
<script>
  var galleryLength = {{ picture_bank.count }};
  var prev = {{ idx }} - 1;
  if (prev < 0) {
    prev = galleryLength - 1;
  }
  var next = {{ idx }} + 1;
  next = next % galleryLength;
  document.querySelector("#leftButton").href=("/pics/" + prev);
  document.querySelector("#rightButton").href=("/pics/" + next);
  
  /*
  var m = document.querySelector("#mainPic");
  console.log(m.naturalWidth);
  console.log(m.clientWidth);
  var pDiv = document.querySelector("#picDiv");
  pDiv.style.width = m.clientWidth;
  */
</script>
  
</body>
</html>